<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script>
        function pop_settings(){
            document.getElementById("popup").style.display = "block";
        }
        function close_settings(){
            document.getElementById("popup").style.display = "none";
        }


    </script>
    {% block title %}<title>Panel użytkownika {{user}}</title>{% endblock %}

</head>
<body>
<div class="top-bar">
    <div id="top-text"><center><h1>Witaj <a target="_blank" href={{"https://twitter.com/"+user}}>@{{user}}</a>, poprawnie zalogowano do panelu!</h1></center></div>
    <div id="settings-button"><button class="setting-b" onclick="pop_settings()"><i class="fa fa-cog" aria-hidden="true"></i> Ustawienia</button></div>
    <div class="settings-popup" id="popup">
        <div class="settings-title">
            <h3>Ustawienia</h3>
        </div>

        <div class="settings-option">
            <form style="width: 100%; height: 100%;" action="/panel/" method="post">
                <div class="settings-option-title">Ile dni wstecz: </div>
                <div class="settings-option-select">
                    <select name="number_of_days">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>
                <div class="settings-option-accept">
                    <button name="settings_button" value="set_days" class="small-b" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Zapisz</button>
                </div>
            </form>
        </div>
        <div class="settings-option">
        </div>
        <div class="settings-option">
        </div>
        <div class="settings-option" id="submit-pop">
            <button class="setting-b" onclick="close_settings()">Zamknij</button>
        </div>
    </div>

</div>
<div id="content-box">
    <div id="monitor-box">
        <div class="info">
            <div id="last-updates">
                {% if info is defined %}
                    test
                {% else %}
                    Brak nowych aktualizacji
                {% endif %}
            </div>
            <div id="update-time">
                {% if number_of_days==1 %}
                    Dane są pokazywane {{number_of_days}} dzień wstecz
                {% else %}
                    Dane są pokazywane {{number_of_days}} dni wstecz
                {% endif %}
            </div>
        </div>
        <div class="info">
            <div class="info-block">
                <a class="link-to-twitter" href="{{url_for('logout_page')}}"><button class="setting-b"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj mnie z panelu!</button></a>
            </div>
            <div class="info-block">
                <h1>Monitor obserwacji</h1>
            </div>
            <div class="search-block">
                <div id="form-block">
                    Wyszukaj osobę:
                    <form action="/panel/" method="post">
                        <input type="text" name="username" autocomplete="off" required><br>
                        <p><button class="small-b" type="submit" name="button_panel" value="search"><i class="fa fa-search" aria-hidden="true"></i> Szukaj</button></p><br>
                    </form>
                </div>
                <div id="form-block-result">
                    {% if searched_user is defined %}
                        {{searched_user.split("-")[1]}}<br>
                        <a target="_blank" href={{"https://twitter.com/"+searched_user.split("-")[2]}}>@{{searched_user.split("-")[2]}}</a>
                        <form action={{url_for('panel_site',user_data=searched_user)}} method="post">
                            <button class="small-b" type="submit" name="button_panel" value="follow">Obserwuj</button> <button class="small-b" type="submit" name="button_panel" value="monitoruj">Monitoruj</button><br>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="monitored-list">
            {% if monitoring_list != None %}
                {% for users in monitoring_list %}
                    <div class="monitored-user-block">
                        <div class="monitored-user-block-buttons">
                            <a href="{{url_for('unmonitor_user', user_id=users[0], user_name=users[1])}}"><button class="small-b"><i class="fa fa-minus" aria-hidden="true"></i> Usuń</button> </a>
                        </div>
                        <div class="monitored-user-block-names">
                            <div class="monitored-user-block-names-title">Dane: </div>
                            <div class="monitored-user-block-names-title">Followy: </div>
                            <div class="monitored-user-block-names-title">Unfollowy: </div>
                        </div>
                        <div class="monitored-user-block-data">
                            <div class="monitored-user-block-data-details">
                                <div class="monitored-user-block-data-name">
                                        <a target="_blank" href={{"https://twitter.com/"+users[1]}}><strong>@{{users[1]}}</strong></a>
                                </div>
                                <div class="monitored-user-block-data-name">
                                        Ostatnia aktualizacja nastąpiła:
                                </div>
                            </div>
                            <div class="monitored-user-block-data-details">
                                {% if users[2] != None %}
                                    <span class="monitoring-list">
                                        {% for new_followers in users[2] %}
                                            {{new_followers.split(" ")[1]}},
                                        {% endfor %}
                                    </span><br>
                                {% else %}
                                    <span class="monitoring-list">-------------</span><br>
                                {% endif %}
                            </div>
                            <div class="monitored-user-block-data-details">
                                {% if users[3] != None %}
                                    <span class="monitoring-list">
                                        {% for new_followers in users[3] %}
                                            {{new_followers.split(" ")[1]}},
                                        {% endfor %}
                                    </span><br>
                                {% else %}
                                    <span class="monitoring-list">-------------</span><br>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="following-box">
        <center><span class="title-span">Aktualnie obserwujesz</span></center>

        {% for users in following_list %}
            <div class="following-user">
                <a target="_blank" href={{"https://twitter.com/"+users}}><i class="fa fa-twitter" aria-hidden="true"></i><span>{{users.split(' ')[1]}}</span></a><br>
            </div>
            <div class="unfollow-button-block">
                <a href="{{url_for('unfollow_user', user_id=users.split(' ')[0], user_name=users.split(' ')[1])}}"> <i class="fa fa-minus" aria-hidden="true"></i> unfollow</a><br>
            </div>
        {% endfor %}
    </div>

</div>
</body>
</html>